/* used for query_form.php */

body {
	padding:20px;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	}

#corpusform {
	width:100%;
}

#corpusform label {
	float:left;
	width:160px;
	font-weight:normal;
	font-size:14px;
	margin:5px 0px 5px 0px;
	padding:2px 0px 2px 0px;
}

#corpusform br {
	clear:both;
}


#corpusform input {
	display:block;
	float:left;
	font-size:14px;
	padding:2px 2px 2px 3px;
	margin:5px 5px 5px 0px;
	vertical-align:middle;
	border:1px solid #D3D3D3;
	width:150px;
	background-color:#FFF;
}

#corpusform input.radio {
	margin:0px 3px 0px 0px;
	width:auto;
	border:none;
	background:none;
	padding:0px;
}

#corpusform input.checkbox {
	margin:0px 3px 0px 0px;
	width:auto;
	border:none;
	background:none;
	padding:0px;
}

#corpusform select {
	float:left;
	margin:5px 5px 5px 0px;
	border:1px solid #D3D3D3;
	width:190px;
}

#corpusform div.languages {
	float:left;
	padding:5px;
	background-color:#f5f5f5;
	border:1px solid #ccc;
	margin:2px 15px 0px 0px;
	font-weight:normal;
	min-height:80px;
	min-width:80px;
	height:auto;
	width:auto;
}

* html #corpusform div.languages {
	width:80px;
	height:80px;
}



#corpusform span.language-holder, #corpusform span.primlanguage-holder {
	position:relative;
	cursor:pointer;
}

#corpusform span.language-holder span.fullname, #corpusform span.primlanguage-holder span.fullname {
	display:none;
	position:absolute;
	border:1px solid #111;
	padding:1px;
	bottom:5px;
	left:20px;
	background-color:#fff;
	color:#000;
	opacity:0.6;
	font-weight:bold;
	width:auto;
}

* html #corpusform span.language-holder span.fullname, * html #corpusform span.primlanguage-holder span.fullname {
	width:100px;
}

#corpusform div.languageselection {
	float:left;
	padding:0px 10px 0px 0px;
}

#languageform {
	float:left;
	margin:0px 0px 0px 20px;
}

#languageform label {
	width:100px;
	float:left;
	font-weight:normal;
	font-size:14px;
	margin:5px 0px 5px 0px;
	padding:2px 0px 2px 0px;
}

#languageform input {
	display:block;
	float:left;
	font-size:14px;
	padding:2px 2px 2px 3px;
	margin:5px 5px 5px 0px;
	vertical-align:middle;
	border:1px solid #D3D3D3;
	width:300px;
	background-color:#FFF;
}

form br {
	clear:both;
}

form span.radio {
	float:left;
	margin:0px 20px 0px 0px;
}

#textsform {
	float:left;
	min-width:450px;
	width:auto;
}

* html #textsform {
	width:450px;
}

.red {
	color:#ff0000;
}

br.clear {
	clear:both;
}

input.hidden, input[type=hidden] {
	display:none;
	}

#corpusform div.languages input.togglelanggroup {
	float:left;
	padding:0px;
	margin:1px 2px 0px 0px;
	width:auto;
}
