<div class="col-sm-{{mode == 'parallel' ? '6' : '10'}}" ng-class="{'col-sm-offset-1': mode == 'mono'}">
    <!-- <div id="query_for_language" class="col-lg-12"> -->
    <div class="panel-group">
        <div class="panel panel-success">
            <div class="panel-heading vivid" style="font-size: 18px;">
                <translate>Query for</translate> {{language.full_name}}
                <span class="glyphicon glyphicon-flag {{getPrimary() == language ? '' : 'wannabe-'}}king" ng-click="setPrimary(language)" uib-tooltip="{{getPrimary() == language ? 'P' : 'Set as p'}}rimary language" tooltip-popup-delay="800"></span>
            </div> <!-- panel heading -->

            <div class="panel panel-body" style="padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px;">
                <div>
                    <h2 ng-if="getPrimary() == language" style="margin-top: 20px; height: 22px; margin-bottom: 20px;" translate>Basic search</h2>
        			<div class="exclude" ng-if="getPrimary() != language" style="margin-top: 20px; height: 22px; margin-bottom: 20px;">
        				<label class="checkbox-inline">
        					<input type="checkbox" style="text-align: left;" ng-model="queryNegation"><b><small><translate>exclude (find everything except query match)</translate></small></b>
        				</label>
        			</div>
                </div> <!-- panel Basic title -->

                <span ng-repeat="row in rowsNumber()">
                    <query-row show-tokens-in-between="$index != rowsNumber().length - 1" queryRow="queryRows[$index]" queryRows="queryRows" index="$index" language="language"></query-row>
                </span>

                <div class="col-sm-12">
                    <div class="col-sm-1 col-sm-offset-10">
                        <button type="button" class="btn btn-default" ng-click="moreRows()">+</button>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-default" ng-click="lessRows()" style="padding-left:13px; padding-right: 13px;">-</button>
                    </div>
                </div> <!-- plus-minus -->

        		<div class="col-sm-12" id="genre" ng-style="{'visibility': getPrimary() == language ? 'visible' : 'hidden'}" ng-if="mode=='parallel' || getCorpus () =='uk'">
        			<div style="text-align: left; font-size: 12px; font-weight: bold; margin-bottom: 5px;" translate>
                        Search only in:
                    </div>
                    <div ng-if="mode=='parallel'">            			
            			<button id="section_parties" class="btn btn-warning btn-sm section" ng-class="{'active': section == 'fiction'}"ng-click="setSection('Fiction')" translate>Fiction</button>
            			<button id="section_grounds" class="btn btn-warning btn-sm section" ng-class="{'active': section == 'non-fiction'}"ng-click="setSection('Non-fiction')" translate>Non-fiction</button>
                        <button id="section_summary" class="btn btn-warning btn-sm section" ng-class="{'active': section == 'press'}"ng-click="setSection('Press')" translate>Press texts</button>
            			<button id="section_costs" class="btn btn-warning btn-sm section" ng-class="{'active': section == 'law'}"ng-click="setSection('Law')" translate>Law texts</button>
                    </div> <!-- section buttons -->
        		</div> <!-- section -->

        		<div id="metadata" ng-style="{'visibility': getPrimary() == language ? 'visible' : 'hidden', 'margin-top': '10px', 'padding-left':'0', 'padding-right':'0'}" class="col-sm-12">
                    <div class="col-sm-11" style="padding-left: 0px;">
                        <h2 translate>Filters</h2>
                    </div>
    				<div class="col-sm-1">
                        <span class="glyphicon glyphicon-{{getButtonState() == 'Show' ? 'plus' : 'minus'}}-sign glyph-icon" uib-tooltip="{{getButtonState()}} metadata" tooltip-popup-delay="800" ng-click="changeVisible()" style="margin-top: 18px;"></span>
    				</div> <!-- show/hide meta -->
    				<span ng-repeat="field in metaFieldsNumberArray()" ng-show="getVisible()">
    					<div id="placeholders" class="col-sm-12">
    						<div class="form-group col-sm-4">
    							<metadata index="$index" place="0" lang="language"></metadata>
    						</div>
    						<div class="form-group col-sm-4">
    							<metadata index="$index" place="1" ng-if="$index < metaFieldsNumberArray().length - 1 || metaFieldsNumber() % 3 != 1" lang="language"></metadata>
    						</div>
    						<div class="form-group col-sm-4">
    							<metadata index="$index" place="2" ng-if="$index < metaFieldsNumberArray().length - 1 || metaFieldsNumber() % 3 == 0" lang="language"></metadata>
    						</div>
    					</div>
    				</span>
        		</div> <!-- metadata -->
            </div> <!-- panel-body -->
        </div> <!-- panel Basic -->
        <div class="panel panel-success">
            <div class="panel-body" style="padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px;">
                <div class="col-sm-12" style="margin-top: 10px; padding-left: 0px; padding-right: 0px;" >
                    <div class="col-sm-11" style="padding-left: 0px;">
                        <h2 style="margin-top: 5px;" translate>CQP Search</h2>
                    </div>
                    <div class="col-sm-1">
                        <span class="glyphicon glyphicon-remove-circle glyph-icon" ng-click="clear()" uib-tooltip="Clear query" tooltip-popup-delay="800"></span>
                    </div>
                </div>
                <div style="margin-bottom: 5px; padding-left: 2px; padding-right: 2px;">
                    <input type="text" class="form-control" id="cqp_search" placeholder="{{'Search'|translate}}" ng-model="outputQuery" ng-value="getQuery()" ng-change="checkManualUpdate()">
                </div>
            </div> <!-- panel CQP body -->
        </div> <!-- panel CQP -->
    </div> <!-- panel-group -->
</div> <!-- outer -->

<input type="hidden" name="query_{{language}}" ng-value="outputQuery"/>
<input type="hidden" name="metaToShow" ng-value="metaToShow()"/>
