<html>

<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title translate>Corpus Query interface</title>
		<link rel="shortcut icon" href="img/jgu.ico">
        <link href="dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="dist/css/ngDialog.min.css">
        <link href="dist/css/ngDialog-theme-default.min.css" rel="stylesheet">
        <link rel="stylesheet/less" type="text/css" href="styl.less">
        <link rel="stylesheet" type="text/css" href="css/custom_style.css">
		<link rel="stylesheet" type="text/css" href="css/nav.css">
		<link rel="stylesheet" type="text/css" href="css/jquery-ui-1.8.17.custom.css"/>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.20/angular-material.min.css">
		<!--<link rel="stylesheet" href="css/keyboard.css" type="text/css"></link>-->

        <!-- ONLINE -->

        <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
        <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
        <link href="vendor/font-awesome.min.css" rel="stylesheet">
    </head>

    <body ng-app="corpus">
        <div class="container-fullwidth">
            <!-- <div class="col-md-1">
                <div class="col-md-3"></div>
                <div class="col-md-9 header"></div>
            </div> -->
            <div class="row">
                <!-- <div class="col-md-1" style="padding-right: 0px; padding-left: 0px;">
                    <div class="col-md-8 header"></div>
                    <div class="col-md-4"></div>
                </div> -->
                <a go-click="/">
                    <div class="navbar navbar-default header" role="navigation">
                            <div class="col-sm-3">

                            </div>
                            <div class="col-sm-6 clickable" style="text-align: center;">
                                <h1 translate style="color: white;">ParaVoz</h1>
                            </div>
                            <div class="col-sm-3">
                                <!-- [
                                <span class="languageSwitch" ng-click="switchLanguage('pl_PL')">pl</span>
                                <span class="languageSwitch" ng-click="switchLanguage('en')">en</span>
                                <span class="languageSwitch" ng-click="switchLanguage('de_DE')">de</span>
                                ] -->
                            </div>
                    </div>
                </a>
                <!-- <div class="col-md-1" style="padding-right: 0px; padding-left: 0px;">
                    <div class="col-md-4"></div>
                    <div class="col-md-8 header"></div>
                </div> -->
        </div>
            <!-- <div class="col-md-1">
                <div class="col-md-9"></div>
                <div class="col-md-3 header"></div>
            </div> -->
        </div>
        <div ng-view></div>
        
        <!-- OFFLINE -->

        <!-- DEFAULT -->
        <!--
        <script src="vendor/angular/angular.min.js"></script>
        <script src="vendor/angular/angular-animate.min.js"></script>
        <script src="vendor/angular/angular-cookies.js"></script>
        <script src="vendor/angular/angular-route.js"></script>-->
        <!-- NEWEST -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-animate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-aria.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-cookies.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.min.js"></script>
        
        <script src="vendor/ui-bootstrap/ui-bootstrap-tpls.js"></script>        
        <script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="vendor/jquery/jquery-ui.min.js"></script>
        <script src="vendor/less.min.js"></script>
        <!-- <script src="vendor/ui-bootstrap-tpls-0.12.1.min.js"></script> -->
        <script src="dist/js/angular-gettext.js"></script>
        <script src="dist/js/ngDialog.min.js"></script>
        <script type="text/javascript" src="dist/js/lodash.min.js"></script>
        <script type="text/javascript" src="dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/jsfunctions.js"></script>
        <script type="text/javascript" src="js/translations.js"></script>
        <script src="jsapp/corpus.js"></script>
        <script src="jsapp/settings/settings.js"></script>
        <script src="jsapp/languageQuery/languageQuery.js"></script>
        <script src="jsapp/languageQuery/queryRow/queryRow.js"></script>
		<script src="jsapp/languageQuery/metadata/metadata.js"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.20/angular-material.js"></script>
        

        <script>
            $(document).on('click', '.dropdown-menu', function (e) {
                e.stopPropagation();
            });
        </script>
    </body>

</html>
