@color: #f0ad4e;
//@color-success: #e6e6fa;
@color-warning-light: #fcf8e3;
@color-success-light: #dff0d8;
@color-danger-light: #f2dede;
@color-info-light: #d9edf7;
@color-warning: #f0ad4e;
@color-success: #5cb85c;
@color-danger: #d9534f;
@color-info: #5bc0de;
@font: 'Times New Roman';
@font-size: 10px;

div.primary-button {
	display: inline-block;
	font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
    font-weight: bold;
    margin-right: 1px;
    margin-left:1px;
	margin-top: 1px;
	margin-bottom: 5px;
	background: -webkit-linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
	background: -moz-linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
	background: -o-linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
	background: -ms-linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
	background: linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='lighten(@color, 10%)', endColorstr='lighten(@color, 30%)',GradientType=0 );
    border: solid 1px;
    border-radius:6px;
    box-shadow: 1px 1px 1px;
	cursor:pointer;
}

div.primary-button:hover

{
	background: -webkit-linear-gradient(top, lighten(@color, 20%) 0%, lighten(@color, 40%) 100%);
	background: -moz-linear-gradient(top, lighten(@color, 20%) 0%, lighten(@color, 40%) 100%);
	background: -o-linear-gradient(top, lighten(@color, 20%) 0%, lighten(@color, 40%) 100%);
	background: -ms-linear-gradient(top, lighten(@color, 20%) 0%, lighten(@color, 40%) 100%);
	background: linear-gradient(top, lighten(@color, 20%) 0%, lighten(@color, 40%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='lighten(@color, 20%)', endColorstr='lighten(@color, 40%)',GradientType=0 );
}

div.primary-button-active {
	display: inline-block;
	font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
    font-weight: bold;
    margin-right: 1px;
    margin-left:1px;
	margin-top: 1px;
	margin-bottom: 5px;
	background: -webkit-linear-gradient(top, lighten(@color, 20%) 0%, lighten(@color, 40%) 100%);
	background: -moz-linear-gradient(top, lighten(@color, 20%) 0%, lighten(@color, 40%) 100%);
	background: -o-linear-gradient(top, lighten(@color, 20%) 0%, lighten(@color, 40%) 100%);
	background: -ms-linear-gradient(top, lighten(@color, 20%) 0%, lighten(@color, 40%) 100%);
	background: linear-gradient(top, lighten(@color, 20%) 0%, lighten(@color, 40%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='lighten(@color, 20%)', endColorstr='lighten(@color, 40%)',GradientType=0 );
    border: solid 1px;
    border-radius:6px;
    box-shadow: 1px 1px 1px;
	cursor:pointer;
}

query-row {
    display: inline-block;
    width: 100%;
}

div.tokens-between{
	display: inline-block;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.options{
    width: 100%;
    float: left;
	text-align: left;
	margin-left: 15px;
	font-size: 12px;
	margin-bottom: 10px;
}

div.exclude{
	text-align: left;
	margin-bottom: 20px;
	margin-top: 15px;
	margin-left: 5px;
	padding-left: 8px;
	background-color: #f5f5f5;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px lighten(@color-danger-light, 4%);
	width: 60%;
}

.vivid {
    background-color: darken(@color-success-light, 20%) !important;
}

.search {
    border: solid 1px black;
    background-color: lighten(@color, 10%);
    border-radius: 10px;
    padding: 0;
    margin-bottom: 2px;
    margin-top: 2px;
}

.head {
    background-color: lighten(@color-danger, 20%);
    opacity: .3;
}

button.section {
    opacity: .9;
}

div#naglowek {
    height: 100px;
    // border: solid 1px black;
	// background: -webkit-linear-gradient(left, lighten(@color, 10%) 0%, @color 50%, lighten(@color, 15%) 100%);
	// background: -moz-linear-gradient(left, lighten(@color, 15%) 0%, @color 50%, lighten(@color, 15%) 100%);
	// background: -o-linear-gradient(left, lighten(@color, 15%) 0%, @color 50%, lighten(@color, 15%) 100%);
	// background: -ms-linear-gradient(left, lighten(@color, 15%) 0%, @color 50%, lighten(@color, 15%) 100%);
	// background: linear-gradient(left, lighten(@color, 15%) 0%, @color 50%, lighten(@color, 15%) 100%);
	// filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='lighten(@color, 10%)', endColorstr='lighten(@color, 30%)',GradientType=0 );
	background-color: @color-success; //lighten(@color, 15%);
}

div.header {
    height: 100px;
    background-color: black;
    color: white;
    margin-bottom: 20px;
    opacity: .8;
    padding-left: 0px;
}

img#jgu {
    height: 100px;
    margin: 3px;
	margin-right: 0px;
	margin-top: 0px;
	padding-top: 10px;
	border-radius: 5px;
}

img#uw {
    height: 80px;
	margin-top: 10px;
	padding-top: 10px;
	border-radius: 5px;
}

div#copyright {
	margin: 5px;
	margin-right: 100px;
	font-size: 11px;
	text-align: right;
	float: right;
}

div#genre {
	margin-top: 10px;
	font-size: 12px;
	text-align: left;
}

div#search-button {
	text-align: center;
	font-size: 14px;
}


language-chooser {
	float: right;
    border: solid 2px black;
    background-color: lighten(@color, 10%);
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    text-align: center;
    display: inline-block;
}

div#search {
    border: solid 2px black;
    background-color: lighten(@color-success, 20%);
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    text-align: center;
    padding: 6px;
}

div#simple_search_depr {
    .search;
    padding-left: 5px;
    padding-right: 5px;
}

// div#query_for_language {
//     .search;
//     background-color: darken(@color, 25%);
// }

div#advanced_search_depr {
    .search;
    padding:0;
}

div#advanced {
    padding:0;
}

div#complex_search_depr {
    .search;
    padding-left: 5px;
    padding-right: 5px;
	padding-bottom: 5px;
}

div#Ustja {
    text-align: center;
    padding: 10px;
}

div#main-buttons {
    position:relative;
    text-align: left;
    margin: 6px;
    margin-bottom:11px;
}

div#main-buttons1 {
    position:relative;
    text-align: right;
    margin: 4px;
    margin-top: 16px;
    margin-bottom:10px;
	cursor:pointer;
}

div#placeholders {
    padding: 0px;
    margin: 0;
}

div.plusminus-container {
    position: relative;
    top: -25px;
}

div.show-hide-container {
	position: relative;
	top: -30px;
}

div#plus-minus-left {
    padding-left: 3px;
    padding-right: 10px;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
    margin-right:10px;
    background-color: #e3e3e3;
    border: solid 1px grey;
    border-radius:6px;
    box-shadow: 1px 1px 1px;
	cursor:pointer;
}

// div#primary-button {
// 	display: inline-block;
// 	font-size: 10px;
//     padding-left: 5px;
//     padding-right: 5px;
// 	padding-top: 6px;
// 	padding-bottom: 6px;
//     font-weight: bold;
//     margin-right: 1px;
//     margin-left:1px;
// 	margin-top: 1px;
// 	margin-bottom: 5px;
// 	background: -webkit-linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
// 	background: -moz-linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
// 	background: -o-linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
// 	background: -ms-linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
// 	background: linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
// 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='lighten(@color, 10%)', endColorstr='lighten(@color, 30%)',GradientType=0 );
//     border: solid 1px;
//     border-radius:6px;
//     box-shadow: 1px 1px 1px;
// 	cursor:pointer;
// }
//
// div#primary-button:hover
//
// {
// 	background: -webkit-linear-gradient(top, lighten(@color, 20%) 0%, lighten(@color, 40%) 100%);
// 	background: -moz-linear-gradient(top, lighten(@color, 20%) 0%, lighten(@color, 40%) 100%);
// 	background: -o-linear-gradient(top, lighten(@color, 20%) 0%, lighten(@color, 40%) 100%);
// 	background: -ms-linear-gradient(top, lighten(@color, 20%) 0%, lighten(@color, 40%) 100%);
// 	background: linear-gradient(top, lighten(@color, 20%) 0%, lighten(@color, 40%) 100%);
// 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='lighten(@color, 20%)', endColorstr='lighten(@color, 40%)',GradientType=0 );
// }

div#plus-minus-right {
float: right;
    padding-left: 6px;
    padding-right: 8px;
    font-weight: bold;
    text-align: center;
    margin-right: 5px;
    margin-left:5px;
    background-color: #e3e3e3;
    border: solid 1px grey;
    border-radius:6px;
    box-shadow: 1px 1px 1px;
	cursor:pointer;
}

div#show-hide {
	float: right;
	padding-right: 3px;
	padding-left: 3px;
    font-weight: bold;
    text-align: center;
    margin-left: 1px;
    margin-right:1px;
    background-color: #e3e3e3;
    border: solid 1px grey;
    border-radius:6px;
    box-shadow: 1px 1px 1px;
	cursor:pointer;
}

div.languageSwitch {
	margin-top: 15px;
}

span.languageSwitch {
	cursor: pointer;
	font-weight: bold;
}


.primary-language{
    width: 90%;
    margin: 10px;
}

.aligned-languages {
    text-align: left;
}

.form-control-mod {
    border: solid 1px;
    border-color: darken(@color, 60%);
    background-color: lighten(@color, 30%);
    padding:2px;
    height: 24px;
}

.form-control-small {

	height: 30px;
	font-size: 12px;
	padding: 2px;
}

.form-control-checkbox {
	.form-control-mod;
	border: solid 1px;
    border-color: darken(@color, 60%);
    background-color: lighten(@color, 30%);
    height: 24px;
	width: 83%;
	display: inline;
	border-radius: 6px;
	margin: -3px;
}

.checkbox-tight {
    padding-left: 5px;
    padding-right: 1px;
    padding-bottom: 4px;
}

.checkbox-align {
    padding-bottom: 8px;
}

.keyboardInput {
    border: solid 1px;
    border-color: darken(@color, 60%);
    background-color: lighten(@color, 30%);
    padding:2px;
    height: 24px;
	border-radius: 6px;
}

.form-group {
    padding: 0;
}
.checkbox {
    padding:2px;
    margin:1px;
}

.tokens {
    text-align: left;
    padding:0;
}

h1 {
    font: @font;
    font-size: @font-size*3;
    color: darken(@color, 90%);
}

h2 {
    font: @font;
    font-size: @font-size*1.8;
    color: darken(@color, 50%);
}

h3 {
    font: @font;
    font-size: @font-size*1.4;
    color: darken(@color, 50%);
}

button#main {
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    border-radius: 10px;
}

label {
    margin: 3px;
}

.animate-repeat {
    position: relative;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.25s;
  transition:all linear 0.25s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  right: -50%;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  right: 0;
}

.search-button
{
padding: 8px 16px 8px;
margin-top: 10px;
margin-right: 5px;
font-size: 21px;
background: -webkit-linear-gradient(top, #d3d3d3 0%, #ffffff 100%);
	background: -moz-linear-gradient(top, #d3d3d3 0%, #ffffff 100%);
	background: -o-linear-gradient(top, #d3d3d3 0%, #ffffff 100%);
	background: -ms-linear-gradient(top, #d3d3d3 0%, #ffffff 100%);
	background: linear-gradient(top, #d3d3d3 0%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#ffffff',GradientType=0 );font-weight: bold;
border-radius: 10px;
cursor: pointer;
float: left;
box-shadow: 4px 5px 3px #333333;
}

.search-button-1
{
	margin-top: 20px;
	margin-right: 3px;
	font-size: 20px;
	padding: 5px 10px 5px;
	// background: -webkit-linear-gradient(top, darken(@color, 10%) 0%, lighten(@color, 10%) 100%);
	// background: -moz-linear-gradient(top, darken(@color, 10%) 0%, lighten(@color, 10%) 100%);
	// background: -o-linear-gradient(top, darken(@color, 10%) 0%, lighten(@color, 10%) 100%);
	// background: -ms-linear-gradient(top, darken(@color, 10%) 0%, lighten(@color, 10%) 100%);
	// background: linear-gradient(top, darken(@color, 10%) 0%, lighten(@color, 10%) 100%);
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='darken(@color, 10%)', endColorstr='lighten(@color, 10%)',GradientType=0 );
    background-color: lighten(@color-success-light, 5%);
	border-radius: 10px;
	box-shadow: 2px 2px;
	cursor: pointer;
	border: 1px;
    opacity: .8;
}

.search-button-1:hover

{
	background-color: darken(@color-success-light, 10%);
}

/* SQUARED ONE */
.squaredOne {
	width: 12%;
	display: inline-block;
	background: #111111;


	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
	border-radius: 4px;
}

.squaredOne label {
	cursor: pointer;
	position: absolute;
	width: 11%;
	left: -1px;
	top: -1px;
	border-radius: 3px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, lighten(@color, 40%) 0%, lighten(@color, 20%) 100%);
	background: -moz-linear-gradient(top, lighten(@color, 40%) 0%, lighten(@color, 20%) 100%);
	background: -o-linear-gradient(top, lighten(@color, 40%) 0%, lighten(@color, 20%) 100%);
	background: -ms-linear-gradient(top, lighten(@color, 40%) 0%, lighten(@color, 20%) 100%);
	background: linear-gradient(top, lighten(@color, 40%) 0%, lighten(@color, 20%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten(@color, 40%)', endColorstr='lighten(@color, 20%)',GradientType=0 );
}

.squaredOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	left: 2px;
	top: 2px;
	background: #A93B13;
	border-radius: 3px;

	background: -webkit-linear-gradient(top, #A93B13 0%, #C1461A 100%);
	background: -moz-linear-gradient(top, #A93B13 0%, #C1461A 100%);
	background: -o-linear-gradient(top, #A93B13 0%, #C1461A 100%);
	background: -ms-linear-gradient(top, #A93B13 0%, #C1461A 100%);
	background: linear-gradient(top, #A93B13 0%, #C1461A 100%);



	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.squaredOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.erase {
    visibility:hidden;
}

.melt {
    background-color: lighten(@color, 20%);
}

div.actions {
    background-color: #eeeeea;
    font-size:1.1em;
    text-align: center;
}

.action-glyph {
    border: 3px solid #eeeeee;
}
.action-glyph:hover {
    background-color: #bbbbbb;
    border: 3px solid #bbbbbb;
}

span.wannabe-king {
    float: right;
    opacity: .25;
    cursor: pointer;
}

span.wannabe-king:hover {
    opacity: .8;
}

span.king {
    float: right;
}

span.glyph-icon {
    cursor: pointer;
    font-size: 1.2em;
    opacity: 0.7;
}

span.glyph-icon:hover {
    opacity: 1;
}

div.settings-head {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.animate-show-hide-fade.ng-hide {
  opacity: 0;
}

.animate-show-hide-fade.ng-hide-add,
.animate-show-hide-fade.ng-hide-remove {
  transition: all linear 0.3s;
}

.fade1 {
    opacity: 1;
}

.fade1.ng-leave {
  transition:0.2s linear all;
  opacity:1;
}
.fade1.ng-leave.ng-leave-active {
  opacity:0;
}

.fade1.ng-enter {
  transition:0.2s linear all;
  opacity:0;
}
.fade1.ng-leave.ng-enter-active {
  opacity:1;
}

.fade2 {
    opacity: 1;
}

.fade2.ng-leave {
  transition:0.2s linear all;
  opacity:1;
}
.fade2.ng-leave.ng-leave-active {
  opacity:0;
}

.fade2.ng-enter {
  transition:0.2s linear all;
  opacity:0;
}
.fade2.ng-leave.ng-enter-active {
  opacity:1;
}

.clickable {
	cursor: pointer;
}