<div enter-submit>
    <div class="container-fluid">
        <div class="row">
                <div class="col-sm-6 btn-group" ng-class="{'col-sm-offset-1': mode == 'mono'}" style="margin-bottom: 10px;">
                    <input type="submit" value="Search" class="btn btn-default search-button-1" go-click="/results">
                    <input type="submit" value="Frequency" class="btn btn-default search-button-1" go-click="/frequency">
                    <input type="submit" value="Collocations" class="btn btn-default search-button-1" go-click="/collocations">
                    <input type="submit" value="N-grams" class="btn btn-default search-button-1" go-click="/ngrams">
                    <!--<input type="submit" value="N-grams" class="btn search-button-1" name="btn[ngrams]">-->
                </div>
                <div ng-class="{'col-sm-1 col-sm-offset-5': mode == 'parallel', 'col-sm-1 col-sm-offset-3': mode == 'mono'}" style="text-align: right; font-size: 1.8em; margin-top: 25px;">
                    <span class="glyphicon glyphicon-cog glyph-icon" ng-click="toggleSettings()"></span>
                </div>

        </div>
        <div class="row animate-show-hide-fade" ng-show="settingsOpen">
            <div class="col-sm-12">
                <app-settings languages="getLanguages()" settings="settings" is-open="settingsOpen"></app-settings>
            </div>
        </div>
        <div>
            <div ng-if="mode=='parallel'" class="row" ng-repeat="langtuple in tuples">
                <language-query ng-repeat="lang in langtuple" language="lang" primary-language="primaryLanguage"  corp="corpora[currentCorpusIndex]" class="animate-repeat"></language-query>
            </div>
            <div ng-if="mode=='mono'" class="row">
                <language-query language="getAlignedLanguages()[0]" corp="corpora[currentCorpusIndex]"></language-query>
            </div>
            <!--<div class="col-lg-12" style="float: left">
                <div>
                    <input type="submit" id="main" name="btn[xml]" value="{{'Search'|translate}}"  class="search-button-1" ng-hide="getPrimary() != language"/>
                    <input type="submit" id="main" name="btn[xmlfile]" value="{{'Export XML'|translate}}" style="font-size: 19px;" class="search-button-1" ng-hide="getPrimary() != language"/>
                </div>
            </div>-->
            <!-- <input type="hidden" name="langs[]" value="{{lang}}" ng-repeat="lang in getAlignedLanguages()"/> -->
            <input type="hidden" name="collocations" value="{{collocations}}">
            <input type="hidden" name="ngrams" value="{{ngrams}}">
            <!--<input type="hidden" name="selText_fullcorpus[]" value="{{lang}}" ng-repeat="lang in getAlignedLanguages()"/>
            <input type="hidden" name="acttexts[]" value="fullcorpus" />-->


            <input type="hidden" name="primlang" ng-value="getPrimary()" />


            <!--
            <input type="hidden" name="fullselection" value="yes" />
            <input type="hidden" name="selAll" value="all" />

            -->
        </div>
    </div>
</div>
