<div class="ngdialog-message">
	<translate>This will erase all manual changes in CQP Search Field. Do you wish to continue?</translate>
</div>
<div class="ngdialog-buttons">
	<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(showWarning)" translate>OK</button>
	<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(showWarning)" translate>Cancel</button>
</div>
<div style="margin-top: 5px;">
<label class="checkbox-inline">
<input type="checkbox" ng-model="showWarning"><translate>Don't show this warning again</translate></input>
</label>
</div>