<div style="width: 98%; margin-right: 1px;">
        <!-- <input type="{{meta.type}}" placeholder="{{meta.hint}}" ng-model="meta.value" class="form-control" /> -->
		<!-- <div class="squaredOne">
			<input type="checkbox" id="{{'squaredOne_' + index + '_' + place}}" ng-model="meta.inResults">
			</input>
			<label for="{{'squaredOne_' + index + '_' + place}}"  tooltip-html-unsafe="{{getTip()}}" tooltip-popup-delay="1200"></label>
		</div> -->
        <md-autocomplete md-selected-item="item" md-search-text="searchText" md-items="item in getValues(searchText)" md-item-text="item.display" md-min-length="0" placeholder="{{meta.hint}}" md-selected-item-change="meta.value=item" mt-search-text-change="meta.value=item">
            <span md-highlight-text="searchText">{{item}}</span>
        </md-autocomplete>
        
</div>
