<div class="panel panel-info" style="font-size: .9em;">
    <div class="panel-heading">
        <h2>Settings</h2>
    </div>
    <div class="panel-body">
        <div class="col-sm-12">
            <div class="settings-head">{{mode == 'parallel' ? 'Languages' : 'Corpora'}}</div>
            <div style="display: inline;" ng-repeat="lang in languages">
                <!-- <label for="lang-{{lang.name}}" class="checkbox-inline checkbox-align">{{lang.full_name}}</label> -->
				<br ng-if="$index > 0 && $index % 8 == 0">
                <label class="btn btn-danger" ng-model="lang.use" uib-btn-checkbox id="lang-{{lang.name}}" ng-click="toggleLanguage(lang)" ng-style="{'opacity': lang.use ? '1' : '.8'}">{{lang.full_name}}</label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="settings-head">Frequency list</div>
            <form class="form-inline">
                 <div class="form-group">
                     <label for="select_freq_type" style="font-weight: 500;">Count by</label>
                     <select class="form-control form-control-small" id="select_freq_type" ng-model="settings.frequency.countBy">
                         <option>word</option>
                         <option>lemma</option>
                     </select>
                 </div>
             </form>
        </div>
        <div class="col-sm-12">
            <div class="settings-head">Collocations</div>
            <form class="form-inline">
                 <div class="btn-group">
                     <label for="select_coll_type" style="font-weight: 500;">Count by</label>
                     <select class="form-control form-control-small" id="select_coll_type" ng-model="settings.collocations.countBy">
                         <option>word</option>
                         <option>lemma</option>
                     </select>
                     <label for="left-context-size" style="font-weight: 500;">Span (left)</label>
                     <input id="left-context-size" type="number" class="form-control form-control-small" ng-model="settings.collocations.leftContextSize" min="0" max="10" style="width: 40px;">
                     <label for="left-context-size" style="font-weight: 500;">Span (right)</label>
                     <input id="right-context-size" type="number" class="form-control form-control-small" ng-model="settings.collocations.rightContextSize" min="0" max="10" style="width: 40px;">
                     <label for="coll-threshold" style="font-weight: 500;">Frequency threshold</label>
                     <input id="coll-threshold" type="number" class="form-control form-control-small" ng-model="settings.collocations.threshold" min="0" style="width: 50px;">
                     <!-- <div style="margin-top: 5px;">
                         <span style="font-size: .95em; margin-left: 2px;">
                             <span style="font-weight: 700; font-size: 13px;">Measures:</span> -->
                    <span style="margin-left: 10px;">
                        <label class="btn btn-xs btn-danger" uib-btn-checkbox ng-model="settings.collocations.ams.llr">Log-likehood ratio</label>
                        <label class="btn btn-xs btn-danger" uib-btn-checkbox ng-model="settings.collocations.ams.mi">MI</label>
                        <label class="btn btn-xs btn-danger" uib-btn-checkbox ng-model="settings.collocations.ams['t-score']">T-score</label>
                        <label class="btn btn-xs btn-danger" uib-btn-checkbox ng-model="settings.collocations.ams['z-score']">Z-score</label>
                        <label class="btn btn-xs btn-danger" uib-btn-checkbox ng-model="settings.collocations.ams.dice">Dice</label>
                        <label class="btn btn-xs btn-danger" uib-btn-checkbox ng-model="settings.collocations.ams.mi3">MI3</label>
                        <label class="btn btn-xs btn-danger" uib-btn-checkbox ng-model="settings.collocations.ams.frequency">Frequency</label>
                </span>
                         <!-- </span>
                     </div> -->
                 </div>
             </form>
        </div>
        <div class="col-sm-12">
            <div class="settings-head">N-grams</div>
            <form class="form-inline">
                 <div class="form-group">
                     <label for="ngram-size" style="font-weight: 500;">Size</label>
                     <input id="ngram-size" type="number" class="form-control form-control-small" ng-model="settings.ngrams.size" min="2" max="5" style="width: 40px;">
                     <label for="select_ngrams_type" style="font-weight: 500;">Count by</label>
                     <select class="form-control form-control-small" id="select_ngrams_type" ng-model="settings.ngrams.countBy">
                         <option>word</option>
                         <option>lemma</option>
                     </select>
                     <label for="ngrams-threshold" style="font-weight: 500;">Frequency threshold</label>
                     <input id="ngrams-threshold" type="number" class="form-control form-control-small" ng-model="settings.ngrams.threshold" min="0" style="width: 50px;">
                 </div>
             </form>
        </div>
        <div class="col-sm-12">
            <div class="settings-head">Results</div>
            <form class="form-inline">
                 <div class="form-group">
                     <label for="per-page" style="font-weight: 500;">Entries per page</label>
                     <input id="per-page" type="number" class="form-control form-control-small" ng-model="settings.results.perPage" min="1" max="500" style="width: 40px;">
                     <label for"results-default-mode" style="font-weight: 500;">Default display mode</label>
                     <select class="form-control form-control-small" id="results-default-mode" ng-model="settings.results.mode">
                         <option>KWIC</option>
                         <option>parallel</option>
                     </select>
                     <label for="results-limit" style="font-weight: 500;">Big size limit</label>
                     <input id="results-limit" type="number" class="form-control form-control-small" ng-model="settings.results.limit" min="100" step="100" style="width: 60px;">
					 <label for="results-meta" style="font-weight: 500;">Show metadata by default</label>
					 <input id="results-meta" type="checkbox" class="form-control" style="margin-bottom: 8px;" ng-model="settings.results.meta">
                 </div>
             </form>
        </div>
    </div>
    <div>
        <button class="btn btn-info" ng-click="close()" style="margin-bottom: 10px; margin-left: 10px;">Close</button>
        <button class="btn btn-info" ng-click="restore()" style="margin-bottom: 10px; margin-left: 10px;">Restore default</button>
		
    </div>
</div>
