<div class="container" ng-show="loaded === false">
    <div ng-show="initials_loaded === true" class="panel panel-success col-sm-12" style="margin-top: 10px; padding: 5px; font-size:1.1em;">
        <div class="col-sm-10">
            Retrieving frequency count for query: {{query}}<br>
            Number of results: {{numRes}}<br>
            Primary language: {{getLanguages ()[0]}}
        </div>
    </div>
    <div class="col-sm-2 col-sm-offset-5">
        <img src="img/spinner.gif">
    </div>
</div>
<div class="container" ng-show="loaded == true">
    <div class="panel panel-success col-sm-12" style="margin-top: 10px; padding: 5px; font-size:1.1em;">
        <!-- <div class="panel-heading">Results</div> -->
        <div class="col-sm-12">
            Frequency count for query: {{query}}<br>
            Number of results: {{numRes}}<br>
            Language: {{primary.full_name}}
        </div>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
        <table class="table table-striped" style="margin-top: 10px;">
            <tr>
                <th style="width:75%; cursor: pointer;" ng-click="sortResults(0)">
                    Match
                    <span class="glyphicon glyphicon-chevron-{{sorted.direction ? 'down' : 'up'}}"
                          style="font-size: 0.7em;"
                          ng-if="sorted.column == 0">
                    </span>
                </th>
                <th style="width:25%; cursor: pointer;" ng-click="sortResults(1)">
                    Frequency
                    <span class="glyphicon glyphicon-chevron-{{sorted.direction ? 'down' : 'up'}}"
                          style="font-size: 0.7em;"
                          ng-if="sorted.column == 1">
                    </span>
                </th>
            </tr>
            <tr ng-repeat="row in currentSlice">
                <td><a style="cursor: pointer;" ng-click="makeQuery(row[0])">{{row[0]}}</a></td>
                <td>{{row[1]}}</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
        <center><div ng-if="showPaginator()" style="margin-left: auto; margin-right: auto;" uib-pagination total-items="results.length" ng-model="pagination.currentPage" ng-change="pageChanged()" num-pages="np" max-size="pagination.maxSize" items-per-page="pagination.numPerPage" boundary-links="pagination.boundaries"></div></center>
    </div>
</div>
