<div class="container" ng-show="loaded === false">
    <div ng-show="initials_loaded === true" class="panel panel-success col-sm-12" style="margin-top: 10px; padding: 5px; font-size:1.1em;">
        <div class="col-sm-10">
            Retrieving results for query: {{query}}<br>
            Number of results: {{numRes}}<br>
            Primary language: {{getLanguages ()[0]}}
        </div>
    </div>
    <div class="col-sm-2 col-sm-offset-5">
        <img src="img/spinner.gif">
    </div>
</div>
<div class="container" ng-show="loaded == true">
    <div class="panel panel-success col-sm-12" style="margin-top: 10px; padding: 5px; font-size:1.1em;">
        <!-- <div class="panel-heading">Results</div> -->
        <div class="col-sm-9">
            Results for query: {{query}}<br>
            Number of results: {{numRes}}<br>
            Primary language: {{getLanguages ()[0]}}
        </div>
        <div class="col-sm-3 actions">
            <!-- <span style="margin: auto:"> -->
                <b>Actions</b><br>
                <span class="glyphicon glyphicon-info-sign action-glyph" ng-style="{'cursor': 'pointer', 'margin': '5px', 'opacity': showMetaOne[0] ? '1' : '.5'}" ng-click="toggleMeta()" uib-tooltip="Show metadata (global)" tooltip-popup-delay="800"></span>
				<span class="glyphicon glyphicon-font action-glyph" style="cursor:pointer; margin:5px;" ng-click="toggleAspect ()" uib-tooltip="Show aspect info" tooltip-popup-delay="800"></span>
				<span class="glyphicon glyphicon-sort-by-attributes action-glyph" style="cursor: pointer; margin: 5px" ng-click="toggleAdvSort ()" uib-tooltip="{{advSort}} advanced search" tooltip-popup-delay="800"></span>
                <span class="glyphicon glyphicon-check action-glyph" style="cursor:pointer; margin:5px;" ng-click="saveTSV('checked')" uib-tooltip="Save checked (TSV)" tooltip-popup-delay="800"></span>
                <span class="glyphicon glyphicon-save action-glyph" style="cursor:pointer; margin:5px;" ng-click="saveTSV('all')" uib-tooltip="Save all (TSV)" tooltip-popup-delay="800"></span>
                <span ng-hide="corpusMode == 'mono'" class="glyphicon glyphicon-transfer action-glyph" style="cursor:pointer; margin:5px; margin-left:25px;" ng-click="switchView()" uib-tooltip="Switch to {{mode[1] | uppercase}} view" tooltip-popup-delay="800"></span>
				
            <!-- </span> -->
        </div>
    </div>
	<div ng-hide="advSort == 'Show'">
		<form class="form-inline">
			<div class="form-group" ng-repeat="level in sorting">
				<label for="sort_{{$index + 1}}">Level {{$index + 1}}</label>
				<input id="sort_{{$index + 1}}" type="number" class="form-control form-control-small" ng-model="level.number" min="1" max="8">
				<select class="form-control form-control-small" ng-model="level.side" style="margin-right: 5px;">
					<option>left</option>
					<option>right</option>
				</select>
			</div>
			<button ng-click="sortResults (3)" class="btn btn-info">Sort</button>
		</form>
	</div>
    <div class="col-sm-12">
        <table class="table table-striped fade2" ng-if="mode[0] === 'kwic' || corpusMode == 'mono'" style="margin-top: 10px;">
            <th style="width:4%; visibility:hidden;"></th>
            <th style="width:35%; text-align: center; cursor: pointer;" ng-click="sortResults(0)">
                Left context
                <span class="glyphicon glyphicon-chevron-{{sorted.direction ? 'down' : 'up'}}"
                      style="font-size: 0.7em;"
                      ng-if="sorted.column == 0">
                </span>
            </th>
            <th style="width:20%; text-align: center; cursor: pointer;" ng-click="sortResults(1)">
                Match
                <span class="glyphicon glyphicon-chevron-{{sorted.direction ? 'down' : 'up'}}"
                      style="font-size: 0.7em;"
                      ng-if="sorted.column == 1">
                </span>
            </th>
            <th style="width:35%; text-align: center; cursor: pointer;" ng-click="sortResults(2)">
                Right context
                <span class="glyphicon glyphicon-chevron-{{sorted.direction ? 'down' : 'up'}}"
                      style="font-size: 0.7em;"
                      ng-if="sorted.column == 2">
                </span>
            </th>
            <th style="width: 6%; visibility: hidden"></th>
            <tr ng-repeat="row in horizontal() track by $index" ng-if="showRowKwic($index)">
                    <td  ng-if="$index % (langNumber + 2) === 0" style="cursor: pointer; text-align: center" ng-click="expand($index)">
                        <span class="glyphicon glyphicon-{{expanded[$index / (langNumber + 2)] ? 'minus' : 'plus'}}" style="font-size: 0.7em;" >
                        </span>
                    </td>
                    <td ng-repeat="section in row" ng-style="{'text-align': alignText($index)}" ng-if="$parent.$index % (langNumber + 2) === 0">
                        <font ng-repeat="word in limit (section, $index)" ng-style="{'color': word.match === true ? 'red' : 'black', 'font-size': 'small', 'margin-left': word.space === true ? '0px' : '-4px'}" title="{{word.lemma}}/{{word.tag}}//{{word.atag}}//{{word.superlemma}}">
                            {{word.word}}
							<span ng-if="showAspect && word.match === true">
								<i>{{word.superlemma}}</i> [{{word.atag}}]
							</span>
                        </font>
                    </td>
                    <td ng-if="$index % (langNumber + 2) === 0">
                        <input type="checkbox" style="float: right;" ng-checked="selection[(pagination.currentPage - 1) * pagination.numPerPage + $index / (langNumber + 2)]" ng-click="toggleSelection($index / (langNumber + 2))">
                    </td>
                    <td ng-if="$index % (langNumber + 2) != 0" style="background-color: white"></td>
                    <td colspan="3" ng-if="$index % (langNumber + 2) != 0 && $index % (langNumber + 2) <= langNumber">
                        <b>{{getLanguages()[($index % (langNumber + 2)) - 1]}}</b>
                        <br>
                        <font ng-repeat="word in joinLangRows(row)" ng-style="{'color': word.match === true ? 'red' : 'black', 'font-size': 'small', 'margin-left': word.space === true ? '0px' : '-4px'}" title="{{word.lemma}}/{{word.tag}}">
                            {{word.word}}
                        </font>
                    </td>
					
					<!-- metadata row -->
					
					 <td ng-if="($index % (langNumber + 2) === langNumber + 1) && showMetaOne[$index]" style="background-color: #fffff9;"> 
                        <span style="font-size:0.85em"><b>{{getLanguages()[0]}}</b></span><br>
						<span ng-repeat="(key, value) in getMeta (row, 0)" style="font-size:0.75em;">
							<b>{{key}}:</b> {{value}}</br>
						</span>
					 </td>
                     <td ng-if="($index % (langNumber + 2) === langNumber + 1) && showMetaOne[$index]" style="background-color: #fffff9;"> 
                        <span style="font-size:0.85em"><b>{{getLanguages()[1]}}</b></span><br>
						<span ng-repeat="(key, value) in getMeta (row, 1)" style="font-size:0.75em;">
							<b>{{key}}:</b> {{value}}</br>
						</span>
					 </td>
                     <td ng-if="($index % (langNumber + 2) === langNumber + 1) && showMetaOne[$index]" style="background-color: #fffff9;"></td>
                    <td ng-if="$index % (langNumber + 2) != 0"></td>
                </span>
            </tr>
        </table>
        <table class="table table-striped fade2" ng-if="mode[0] === 'parallel' && corpusMode == 'parallel'">
            <tr ng-show="currentSlice.length != 0">
                    <th ng-repeat="lang in getLanguages()" style="width: 47%;">
                        {{lang}}
                    </th>
                    <th style="width: 6%; visibility: hidden">&nbsp;</th>
            </tr>
            <tr ng-repeat="row in sliceWithMeta () track by $index" ng-style="{'background-color': $index % 4 < 2 ? 'white' : '#ddd'}">
                <td ng-repeat="cell in row" ng-if="$parent.$index % 2 == 0">
                    <font ng-repeat="word in joinLangRows (cell)" ng-style="{'color': word.match === true ? 'red' : 'black', 'font-size': 'small', 'margin-left': word.space === true ? '0px' : '-4px'}" title="{{word.lemma}}/{{word.tag}}">
                        {{word.word}}
                    </font>
                </td>
				 <td style="vertical-align:middle" ng-if="$index % 2 == 0">
                    <span class="glyphicon glyphicon-info-sign action-glyph metaOne" ng-style="{'opacity': showMetaOne[$index + 1] ? '1' : '.5'}" ng-click="showMt($index)" uib-tooltip="Show metadata" tooltip-popup-delay="800"></span>
					<input type="checkbox" style="margin-right:5px; float: right;" ng-checked="selection[(pagination.currentPage - 1) * pagination.numPerPage + Math.floor ($index / 2)]" ng-click="toggleSelection(Math.floor ($index / 2))">
                </td>
				
				<!-- meta row -->
				
				<td ng-if="$index % 2 != 0 && showMetaOne[$index]" style="background-color: #fffff9; padding-bottom: 14px;  border-bottom: 5px solid white">
					<span ng-repeat="(key, value) in getMeta (row, 0)" style="font-size:0.75em;">
						<b>{{key}}:</b> {{value}}</br>
					</span>
				</td>
                <td ng-if="$index % 2 != 0 && showMetaOne[$index]" style="background-color: #fffff9; padding-bottom: 14px; border-bottom: 5px solid white">
					<span ng-repeat="(key, value) in getMeta (row, 1)" style="font-size:0.75em;">
						<b>{{key}}:</b> {{value}}</br>
					</span>
				</td>
                <td style="vertical-align:middle; background-color: white; border-bottom: 5px solid white" ng-if="$index % 2 != 0 && showMetaOne[$index]">
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
        <center><div ng-if="showPaginator()" style="margin-left: auto; margin-right: auto;" uib-pagination total-items="results.length" ng-model="pagination.currentPage" ng-change="pageChanged()" num-pages="np" max-size="pagination.maxSize" items-per-page="pagination.numPerPage" boundary-links="pagination.boundaries"></div></center>
    </div>
</div>
